<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="addUser()">

    {{signupForm.value | json}}

    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" readonly formControlName="email"/>
      <small id="emailHelp" class="form-text text-muted">School email cannot be changed.</small>
    </div>

    <div class="form-group">
      <label>Name</label>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" formControlName="firstName"
                 [class.is-invalid]="firstName.invalid && firstName.touched"/>
          <small [class.d-none]="firstName.valid || firstName.untouched" class="text-danger">
            First name is required.
          </small>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" formControlName="lastName"
                 [class.is-invalid]="lastName.invalid && lastName.touched"/>
          <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">
            Last name is required.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <div class="form-row">
        <div class="col">
          <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
                 [class.is-invalid]="password.invalid && password.touched"/>
          <small [class.d-none]="password.valid || password.untouched" class="text-danger">
            Password is required. Must enter at least {{passwordLength}} characters.
          </small>
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword"
                 [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched || signupForm.errors?.misMatch"/>
          <small [class.d-none]="confirmPassword.valid || confirmPassword.untouched" class="text-danger">
            Must confirm your password.
          </small>
          <small class="text-danger" *ngIf="signupForm.errors?.misMatch && confirmPassword.dirty">
            Passwords do not match.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>My Website (Optional)</label>
      <input type="url" class="form-control" placeholder="Enter your website URL" formControlName="myWebsite"/>
    </div>

    <div class="form-group">
      <label>Social Media (Optional)</label>
      <div formArrayName="smLinks" *ngFor="let link of smLinks.controls; let i=index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="col-md-3">
              <select class="form-control no-min-width" formControlName="description">
                <option value="" disabled>Select One</option>
                <option *ngFor="let link of links" value="{{link.toLocaleLowerCase()}}">
                  {{link}}
                </option>
              </select>
            </div>
            <div [className]="linkLength">
              <input type="url" class="form-control" placeholder="Link URL" formControlName="URL">
            </div>
            <div class="col-md-1" [hidden]="smLinks.length <= 1">
              <button type="button" class="btn btn-color" (click)="deleteSMLinks(i)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <button [disabled]="linksLimit" type="button" class="btn btn-default btn-md" (click)="addSMLinks()">
        <span class="fa fa-plus"></span> Add </button>
    </div>

    <div class="form-group">
      <label>Choose a profile image (Optional):</label>
      <div class="form-row">
        <div class="col">
          <img-cropper [image]="imgSrc" [settings]="cropSettings"></img-cropper>
      </div>
        <div class="col">
          <div *ngIf="imgSrc.image" style="padding-left: 10px;">
            <label>Preview:</label>
            <br/><img [src]="imgSrc.image" [width]="cropSettings.croppedWidth"
                      [height]="cropSettings.croppedHeight"/>
          </div>
        </div>
      </div>
    </div>

    <!--{{imgSrc | json}}-->

    <button [disabled]="!signupForm.valid" class="btn btn-color" type="submit">Submit</button>
  </form>
</div>
