<div class="container">
  <form [formGroup]="signupForm">

    {{signupForm.value | json}}

    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" readonly formControlName="email"/>
      <small id="emailHelp" class="form-text text-muted">School email cannot be changed.</small>
    </div>

    <div class="form-group">
      <label>Name</label>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" required formControlName="firstName"/>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" required formControlName="lastName"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <div class="form-row">
        <div class="col">
          <input type="password" class="form-control" placeholder="Enter password" required formControlName="password"/>
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Confirm password" required formControlName="confirmPassword"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>My Website (Optional)</label>
      <input type="url" class="form-control" placeholder="Enter your website URL" formControlName="myWebsite"/>
    </div>


    <div class="form-group">
      <label>Social Media (Optional)</label>
      <div formArrayName="sslinks" *ngFor="let link of sslinks.controls; let i=index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="col-md-3">
              <select class="form-control no-min-width" formControlName="description">
                <option value="" disabled>Select One</option>
                <option *ngFor="let link of links" value="{{link.toLocaleLowerCase()}}">
                  {{link}}
                </option>
              </select>
            </div>
            <div [className]="inputLength">
              <input type="url" class="form-control" placeholder="Link URL" formControlName="URL">
            </div>
            <div class="col-md-1" [hidden]="sslinks.length <= 1">
              <button type="button" class="btn btn-color" (click)="deleteSSLinks(i)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default btn-md" (click)="addSSLinks()">
        <span class="fa fa-plus"></span> Add </button>
    </div>

    <button class="btn btn-color" type="submit">Submit</button>

  </form>
  <app-error></app-error>
</div>
