<div class="container">

  <form *ngIf="editUser && editProfileForm" [formGroup]="editProfileForm" (ngSubmit)="submitUserEdits()">
    <p class="text-danger">{{errMsg}}</p>

    <h2 style="padding-bottom: 10px;">Edit Profile</h2>
    <div class="form-group">
      <input type="email" class="form-control" aria-describedby="emailHelp" readonly formControlName="email"/>
      <small id="emailHelp" class="form-text text-muted">School email cannot be changed.</small>
    </div>

    <div class="form-group">
      <label>Profile Picture:</label>
      <div class="form-row">
        <div class="col">
          <img-cropper [image]="imgSrc" [settings]="cropSettings"></img-cropper>
        </div>
        <div class="col">
          <div *ngIf="imgSrc.image" style="padding-left: 10px;">
            <label>Preview:</label>
            <br/><img [src]="imgSrc.image" [width]="cropSettings.croppedWidth"
                      [height]="cropSettings.croppedHeight"/>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><span class="text-danger">*</span>Name/Role:</label>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" formControlName="firstName"
                 [class.is-invalid]="firstName.invalid"/>
          <small [class.d-none]="firstName.valid" class="text-danger">
            First name is required.
          </small>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" formControlName="lastName"
                 [class.is-invalid]="lastName.invalid"/>
          <small [class.d-none]="lastName.valid" class="text-danger">
            Last name is required.
          </small>
        </div>
        <div class="col">
          <select class="form-control no-min-width" formControlName="role"
                  [class.is-invalid]="role.invalid">
            <option value="" disabled>Select your role</option>
            <option *ngFor="let r of roles">
              {{r}}
            </option>
          </select>
          <small *ngIf="role.invalid" class="text-danger">
            Role is required.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Your Website</label>
      <input type="url" class="form-control" placeholder="Enter your website URL" formControlName="myWebsite"/>
    </div>

    <div class="form-group">
      <label>Phone Number</label>
      <input class="form-control" placeholder="Enter your phone number ex. (303) 333-3333"
             formControlName="phoneNumber" [class.is-invalid]="phoneNumber.invalid"/>
      <small [class.d-none]="phoneNumber.valid" class="text-danger">
        Phone number must be 10 digits with an optional country code at the beginning. You can separate with space,
        period, or dash.
      </small>
    </div>

    <div class="form-group">
      <label>Bio</label>
      <textarea rows="4" class="form-control" placeholder="Tell us about yourself" formControlName="bio"></textarea>
    </div>

    <div class="form-group">
      <label>Office Location</label>
      <input class="form-control" placeholder="Enter your office location" formControlName="office">
    </div>

    <div class="form-group">
      <label>Google Drive Folder</label>
      <input class="form-control" placeholder="Enter a public folder URL from Google Drive"
             formControlName="googleDrive">
    </div>

    <div class="form-group">
      <label>Social Media:</label>
      <div formArrayName="smLinks" *ngFor="let smLink of smLinks.controls; let i=index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="col-md-3">
              <select class="form-control no-min-width" formControlName="description"
                      [class.is-invalid]="smLink.get('description').invalid">
                <option value="" disabled>Select One</option>
                <option *ngFor="let link of links" value="{{link.toLocaleLowerCase()}}">
                  {{link}}
                </option>
              </select>
              <div hidden *ngIf="descRequired(i)"></div>
              <small *ngIf="smLink.get('description').invalid" class="text-danger">
                Must select one.
              </small>
            </div>
            <div class="col-md-8">
              <input type="url" class="form-control" placeholder="Link URL" formControlName="URL">
            </div>
            <div class="col-md-1" [hidden]="smLinks.length == 0">
              <button type="button" class="btn btn-color" (click)="deleteSMLinks(i)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <button [disabled]="smLinks.length >= 5" type="button" class="btn btn-default btn-md" (click)="addSMLinks()">
        <span class="fa fa-plus"></span> Add
      </button>
    </div>


    <button [disabled]="editProfileForm.untouched || editProfileForm.invalid" class="btn btn-color" type="submit">
      Submit
    </button>
    <p class="text-danger">{{errMsg}}</p>
  </form>
  <p class="text-danger">* Required Fields</p>
</div>
