<p class="text-danger">{{errMsg}}</p>
<div [hidden]="editPage">
  <template #dataTable></template>
    <!--<app-list-data *ngIf="loadTable" [listItems]="pageList" [listFields]="pageFields"-->
    <!--(edit)="editTable($event)"></app-list-data>-->
    <button type="button" class="btn btn-color btn-md btn-add" (click)="addNewPage()">
      <span class="fa fa-plus"></span> Add</button>
</div>

<div [hidden]="!editPage">
  <form [formGroup]="createPage">
    <div class="form-group">
      <label><span class="text-danger">*</span>Page Title:</label>
      <input type="text" [class.is-invalid]="title.invalid && title.touched"
             class="form-control" placeholder="Enter title"
             formControlName="title" />
      <small class="text-danger" [class.d-none]="title.valid || title.untouched">
        Page title is required.
      </small>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-2">
          <label style="padding-top: 5px;"><span class="text-danger">*</span>Navigation Parent:</label>
        </div>
        <div class="col-md-10">
          <select class="form-control" [class.is-invalid]="parent.invalid && parent.touched"
                  formControlName="parent">
            <option value="" disabled>Select One</option>
            <option *ngFor="let p of parents" value="{{p.name}}">
              {{p.name}}
            </option>
          </select>
          <small class="text-danger" [class.d-none]="parent.valid || parent.untouched">
            Parent of the page is required.
          </small>
        </div>
      </div>
    </div>
    <app-editor [disabled]="!createPage.valid" (htmlString)="savePage($event)"
    [htmlContent]="content.value"></app-editor>
  </form>
  <p class="text-danger">* Required Fields</p>
</div>

