<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/home">
    <!--<img width="300" height="80" src=""/>-->
    <img width="300" height="75" src="../../assets/images/CU_logo_Banner.png"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <div *ngFor="let navItem of parents">
        <ng-template [ngIf]="navItem.child.length > 0" [ngIfElse]="NoDropdown">
          <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" routerLink="{{navItem.route}}" role="button" data-toggle="dropdown"-->
               <!--aria-haspopup="true" aria-expanded="false">-->
              <!--{{navItem.name}}-->
            <!--</a>-->
            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
              <!--<div *ngFor="let child of navItem.child">-->
                <!--<a class="dropdown-item" routerLink="{{child.route}}">{{child.title}}</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="{{navItem.route}}" role="button" aria-haspopup="true" aria-expanded="false">
              {{navItem.name}}
            </a>
            <div class="dropdown-menu">
              <div *ngFor="let child of navItem.child">
                <a class="dropdown-item" routerLink="{{child.route}}">{{child.title}}</a>
              </div>
            </div>
          </li>
        </ng-template>
        <ng-template #NoDropdown>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="{{navItem.route}}">{{navItem.name}}</a>
          </li>
        </ng-template>
      </div>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!loggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/register">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/user-menu" >
          <i class="fa fa-user fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
          User Menu</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/login" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>



