<nav class="navbar sticky-top navbar-expand-lg navbar-dark flex-column">
  <a class="navbar-brand" routerLink="/home">
    <img width="300" height="80" src="https://www1.ucdenver.edu/images/default-source/offices-ucomm-images/brand/brandlogo_colors_den_rv.png?sfvrsn=ffa1b2b8_3"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <div *ngFor="let navItem of navItems">
        <ng-template [ngIf]="navItem.child.length > 0" [ngIfElse]="NoDropdown">
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="{{navItem.route}}" role="button" aria-haspopup="true" aria-expanded="false">
              {{navItem.name}}
            </a>
            <div class="dropdown-menu">
              <div *ngFor="let child of navItem.child">
                <a class="dropdown-item" routerLink="{{child.route}}">{{child.title}}</a>
              </div>
            </div>
          </li>
        </ng-template>
        <ng-template #NoDropdown>
          <li class="nav-item">
            <a class="nav-link" routerLink="{{navItem.route}}">{{navItem.name}}</a>
          </li>
        </ng-template>
      </div>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



