.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
  border: none;
  max-width: 250px;
  min-height: 465px;
  margin-right: 1%;
  /*border-radius: 15%;*/
}
.card-img-top {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 250px;
  height: 250px;
  /*border-radius: 50%;*/
  /*margin-left: 10%;*/
  /*margin-top: 5%;*/
}
.card-img-top:hover{
  opacity: 0.5;
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
