<!--<div class="scrolling-wrapper">-->
<div class="container" style="border: 1px solid cyan; background-color: white;">
  <div *ngFor="let person of personList" class="card" style="width: 18rem;">
    <img class="card-img-top" src={{person.photo}} alt="Card image cap">
    <div class="card-body">
      <h3>{{person.name}}</h3>
      <p class="card-text">
        {{person.role}}
        {{person.email}}
      </p>
      <div *ngFor="let link of person.links">
        <p>{{link.Description}}: {{link.URL}}</p>
      </div>
    </div>
  </div>
</div>

<!--</div>-->

