<p class="text-danger">{{errMsg}}</p>
<div [hidden]="editCourse">
  <template #dataTable></template>
  <div>
    <button type="button" class="btn btn-color btn-md btn-add" (click)="addNewCourse()">
      <span class="fa fa-plus"></span> Add</button>
  </div>
</div>
<div [hidden]="!editCourse">
  <!--{{createCourse.value | json}}-->
  <form [formGroup]="createCourse" (ngSubmit)="saveCourse()">
    <div class="form-group">
      <label><span class="text-danger">*</span>Course Number:</label>
      <input type="text" [class.is-invalid]="courseNumber.invalid && courseNumber.touched"
             class="form-control" placeholder="Enter a course number" formControlName="courseNumber" />
      <small class="text-danger" [class.d-none]="courseNumber.valid || courseNumber.untouched">
        Course number is required.
      </small>
    </div>
    <div class="form-group">
      <label><span class="text-danger">*</span>Course Name:</label>
      <input type="text" [class.is-invalid]="courseName.invalid && courseName.touched"
             class="form-control" placeholder="Enter a course name" formControlName="courseName" />
      <small class="text-danger" [class.d-none]="courseName.valid || courseName.untouched">
        Course name is required.
      </small>
    </div>
    <div class="form-group">
      <label><span class="text-danger">*</span>Term:</label>
      <div class="form-row">
        <div class="col">
          <select class="form-control" [class.is-invalid]="termSemester.invalid && termSemester.touched"
                  formControlName="termSemester">
            <option value="" disabled>Select Semester</option>
            <option *ngFor="let term of terms">{{term}}</option>
          </select>
          <small class="text-danger" [class.d-none]="termSemester.valid || termSemester.untouched">
            Term semester is required.
          </small>
        </div>
        <div class="col">
          <select class="form-control" [class.is-invalid]="termYear.invalid && termYear.touched"
                  formControlName="termYear">
            <option value="" disabled>Select Year</option>
            <option *ngFor="let year of yearList">{{year}}</option>
          </select>
          <small class="text-danger" [class.d-none]="termYear.valid || termYear.untouched">
            Term year is required
          </small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label><span class="text-danger">*</span>Department:</label>
      <input type="text" [class.is-invalid]="department.invalid && department.touched"
             class="form-control" placeholder="Enter a department" formControlName="department" />
      <small class="text-danger" [class.d-none]="department.valid || department.untouched">
        Department is required.
      </small>
    </div>
    <div class="form-group">
      <label>Category:</label>
      <input type="text" class="form-control" placeholder="Enter a category" formControlName="category" />
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" rows="5" placeholder="Enter course description"
                formControlName="description"></textarea>
    </div>
    <button class="btn btn-color" style="float: right;" [disabled]="createCourse.invalid">Save</button>
  </form>
  <p class="text-danger">* Required Fields</p>
</div>

