<div class="banner" style="background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../assets/images/cyberBanner.PNG)">
  <div class=homePageBanner>
    <p>Cyber Security
  </div>
  <div class=homePageBanner1>
    <p>Turn Your Interest into Your Dream Career. Cyber security professionals help protect data and network security in a variety of settings and industries.
  </div>
</div>


<div class="container">
  <div >
    <h2 style="text-align: center;">What will I learn in this degree?</h2>
    <hr style="height:5px;border:none;color:#333;background-color:#333;width:50%;"/>
    <p  style="font-size: 20px;" >The courses in Cyber Security gives you the nationally-recognized credentials employers are seeking.
      As a student in the program, you will develop the knowledge, skills, and abilities to secure organizational data.
      As an information security expert, you will become an invaluable part of an information technology-dependent enterprise.
      Advance your understanding of cyber threats, information assurance, and digital crime investigation as part of your career.
      Use your education to get promoted or join the industry with career-based skills that you can prove.
      Either way, these stackable credentials assert your position as an accredited cyber security professional.
      Please note that students in these courses should have a firm knowledge of basic computer skills.
      Including the ability to understand the controls and concepts needed to safeguard organizational data.
  </div>
  <div >
    <img style="height:50%;width:100%;" src="../../assets/images/homepage.PNG"/>
  </div><br><br><br>
  <hr style="height:5px;border:none;color:#333;background-color:#333;width:100%;"/><br>
  <div >
    <img style="height:75%;width:100%;" src="../../assets/images/homepage1.PNG"/>
  </div>
  <hr style="height:5px;border:none;color:#333;background-color:#333;width:100%;"/><br>
  <div style="font-size: 20px;">
    <h2 style="text-align: center;">Learn Valuable Skills</h2>
    <hr style="height:5px;border:none;color:#333;background-color:#333;width:50%;"/>
    <p  style="font-size: 20px;" >As a student in the Undergraduate computer science in the Cyber Security program,
      you will gain a wealth of real-life skills to use in your IT career. Specific learning outcomes include…
    <ul>
      <li>Differentiate between various types of systems security threats that can lead to the loss of a major system security goal.</li>
      <li>Evaluate the impact of hacker and computer espionage activities on the overall security of an organization.</li>
      <li>Utilize methods and tools to maintain access to systems during penetration testing.</li>
      <li>Identify common IT network attacks and explain how attacker motivations have evolved over time.</li>
  </ul>
  </div><br><br>
  <hr style="height:5px;border:none;color:#333;background-color:#333;width:100%;"/><br>
</div>

