<div class="banner" style="background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../assets/images/cyberBanner.PNG)">
  <div class=homePageBanner>
    <p>Cyber Security
  </div>
  <div class=homePageBanner1>
    <p>Turn Your Interest into Your Dream Career. Cyber security professionals help protect data and network security in a variety of settings and industries.
  </div>
</div>


<div class="container">
  <h2>What will I learn in this degree?</h2>
  <p>the courses in Cyber Security gives you the nationally-recognized credentials employers are seeking.
    As a student in the program, you will develop the knowledge, skills, and abilities to secure organizational data.
    As an information security expert, you will become an invaluable part of an information technology-dependent enterprise.
    Advance your understanding of cyber threats, information assurance, and digital crime investigation as part of your career.
    Use your education to get promoted or join the industry with career-based skills that you can prove.
    Either way, these stackable credentials assert your position as an accredited cyber security professional.
    Please note that students in these courses should have a firm knowledge of basic computer skills.
    Including the ability to understand the controls and concepts needed to safeguard organizational data.
</div>

