<body>
<table border="0" cellspacing="0" cellpadding="4">
  <tbody><tr>
    <div>
      <a>
        <ng-template [ngIf]="image != null" [ngIfElse]="defaultImage">
          <img class="card-horiz-img" src="data:{{image.content_type}};base64,{{image.buffer}}">
        </ng-template>
        <ng-template #defaultImage>
          <img class="card-horiz-img" src="assets/images/defaultPhoto.png" alt="No image available">
        </ng-template>
      </a>
    </div>
    <td>
      <h1 style="line-height: 100%; margin-top: 0; margin-bottom: 0">{{name}}</h1>
      <h3 style="margin-top: 0; margin-bottom: 0"> <i> University of Colorado</i></h3>
      <p> <i><u> Bio: </u><br>
      </i> {{biography}}
      </p>
    </td>
  </tr>
  </tbody></table>

<div>
  <hr size="2" width="100%" align="center">
</div>


<!--<div *ngFor="let researchList of research" style="display: inline;">-->
  <!--<h2>Research</h2>-->
  <!--{{researchList}}-->
<!--</div>-->
<br/><a *ngIf="myWebsite != '' && myWebsite != null"><h2>Other Links</h2><br><a href="{{myWebsite}}">My Website</a></a>


<h2>Social Media</h2>
<div *ngFor="let link of socialLinks" style="display: inline;">
  <a class="fa fa-{{link.description}}" href="{{link.URL}}"></a>
</div>

<div>
  <hr size="2" width="100%" align="center">
</div>

<table border="0" cellspacing="0" cellpadding="0" width="590">
  <tbody><tr>
    <td>
      <p><i>{{name}}<br></i>
        Department of Computer Science<br>
        1200 Larimer Street<br>
        Suite 3034<br>
        Denver, CO 80204<br>
        </p>
    </td>
    <td>
      <a *ngIf="phone_number != '' && phone_number != null">Phone: {{phone_number}}</a><br>
      <a href="mailto: {{email}}">{{email}}</a>
    </td>
  </tr>
  </tbody></table>

<div>
  <hr size="2" width="100%" align="center">
</div>
<br/><a *ngIf="google_drive_link != '' && google_drive_link != null"><h2>My Files</h2>
  <!--For the google link -->
  <iframe [src]=sanitizer.bypassSecurityTrustResourceUrl(google_drive_link) style="width:100%; height:300px; border:0;"></iframe></a>
</body>
