<div class="container">
  <p class="text-danger">{{errMsg}}</p>
  <div class="card shadow" *ngIf="showResearch == true">
    <div class="card-header">
      {{research.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Research Type: <i style="padding-left: 5px;">{{research.type}}</i></h5>

      <h5 class="card-title">Researcher(s):
        <a *ngFor="let researcher of research.ownerID; let i = index"
           routerLink="/profile/{{research.researcherEmails[i].split('@ucdenver.edu')[0]}}">
        <i style="padding-left: 5px;">{{researcher}}&nbsp;</i></a></h5>

      <h5 *ngIf="research.startDate.toString() != ''" class="card-title">Start Date:
        <i style="padding-left: 5px;">{{research.startDate | date: 'longDate': 'GMT+1'}}</i></h5>

      <h5 *ngIf="research['endDate']" class="card-title">End Date:
        <i style="padding-left: 5px;">{{research.endDate | date: 'longDate': 'GMT+1'}}</i></h5>

      <hr>
      <h5 class="card-title">Description:</h5>
      <div class="container">
        <div [innerHTML]="research.description" class="cke_contents_ltr"></div>
      </div>
    </div>
  </div>
</div>

