<div class="container">
  <form [formGroup]="createPage">
    <div class="form-group">
      <label>Page Title:</label>
      <input type="text" [class.is-invalid]="title.invalid && title.touched"
             class="form-control" placeholder="Enter title"
             formControlName="title" />
      <small class="text-danger" [class.d-none]="title.valid || title.untouched">
        Page title is required.
      </small>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-3">
          <label>Pick Navigation Parent for the page: </label>
        </div>
        <div class="col-md-9">
          <select class="form-control" [class.is-invalid]="parent.invalid && parent.touched"
                  formControlName="parent">
            <option value="" disabled>Select One</option>
            <option *ngFor="let p of parents" value="{{p.name}}">
              {{p.name}}
            </option>
          </select>
          <small class="text-danger" [class.d-none]="parent.valid || parent.untouched">
            Parent of the page is required.
          </small>
        </div>
      </div>
    </div>
  </form>
  <app-editor [disabled]="!createPage.valid" (htmlString)="addStaticPage($event)"></app-editor>
  {{createPage.value | json}}
  {{!createPage.valid}}
</div>
