<div class="container" *ngFor="let person of person">
  <p class="text-danger">{{error}}</p>
  <table border="0" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <ng-template [ngIf]="person.photo != null" [ngIfElse]="defaultImage">
        <img class="card-horiz-img" src="data:{{person.photo.content_type}};base64,{{person.photo.buffer}}"
             style="padding-right: 50px">
      </ng-template>
      <ng-template #defaultImage>
        <img class="card-horiz-img" src="assets/images/defaultPhoto.png" alt="No image available"
             style="padding-right: 50px">
      </ng-template>
      <td>
        <h1 style="line-height: 100%; margin-top: 0; margin-bottom: 0">{{person.name}}</h1>
        <h3 style="margin-top: 0; margin-bottom: 0"><i> {{person.role}}</i></h3>
        <a href="mailto: {{person.email}}">{{person.email}}</a><br/>
        <a *ngIf="person['my_website_link'] && person.my_website_link.length > 0"
           href="{{person.my_website_link}}">
          My Website</a>
        <p><span *ngIf="person['office_location'] && person.office_location.length > 0">
          Office Location: &nbsp;<i>{{person.office_location}}</i></span><br/>
          <span *ngIf="person['phone_number'] && person.phone_number.length > 0">
            Phone: &nbsp;<i>{{person.phone_number}}</i></span></p>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="person['links'] && person.links.length > 0">
    <br/>
    <hr size="2" width="100%" align="center">
    <h2>Social Media</h2><br/>
    <!--<p *ngIf="person.links.length <= 0">None listed</p>-->
    <div *ngFor="let link of person.links" style="display: inline;">
      <a class="fa fa-{{link.description}}" href="{{link.URL}}"></a>
    </div>
  </div>

  <div *ngIf="personResearch != null && personResearch.length > 0">
    <br/>
    <hr size="2" width="100%" align="center">
    <!--<a *ngIf="personResearch != null">-->
    <h2>Research</h2><br/>
    <!--<p *ngIf="personResearch.length <= 0">None listed</p>-->
    <div *ngFor="let research of personResearch" style="display: inline;">
      <a routerLink="/research/{{research.title}}">
        {{research.title}}</a><i *ngIf="research.type != ''">&nbsp;-&nbsp;{{research.type}}</i><br>
    </div>
  <!--</a>-->
  </div>

  <div *ngIf="courses != null && courses.length > 0">
    <br/>
    <hr size="2" width="100%" align="center">
    <h2>Courses</h2><br/>
    <div *ngFor="let c of courses">
      <div *ngIf="c.teacherEmail == person.email">
        <a routerLink="/course/{{c.department}}-{{c.courseNumber}}-{{c.courseSection}}">
          {{c.courseName}}</a><i>&nbsp;-&nbsp;{{c.termSemester}} {{c.termYear}}</i><br>
      </div>
    </div>
  </div>

  <div *ngIf="person['biography'] && person.biography.length > 0">
    <br/>
    <hr size="2" width="100%" align="center">
    <h2>Biography</h2>
  </div>
  <div class="container">
    <div *ngIf="person['biography']" [innerHTML]="sanitizer.bypassSecurityTrustHtml(person.biography)"
         class="cke_contents_ltr"></div>
  </div>

</div>
