<div class="container">
  <h1 align="center">Cybersecurity News</h1>
  <hr>
  <div class="row">
    <div infiniteScroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()">
      <div class="col" *ngFor="let news of newsItem">
        <app-card-news
          [title]="news.title"
          [URL]="news.URL"
          [content]="news.content"
          [imageLink]="news.imageLink"
          [createdOn]="(news.createdOn | date)"
          [source]="news.source">
        </app-card-news>
      </div>
    </div>
  </div>
</div>

