<div class="container">
  <p class="text-danger">{{error}}</p>
  <h1 align="center">Cybersecurity News</h1>
  <div align="center" style="font-size: 12px; color: #A2A4A3"><a>Powered by </a>
    <a style="color: #A2A4A3" href="https://newsapi.org/">newsAPI.org</a></div>
  <hr>
  <div class="row">
    <div infiniteScroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()">
      <div class="col" *ngFor="let news of newsItem">
        <app-card-news
          [title]="news.title"
          [URL]="news.URL"
          [content]="news.content"
          [imageLink]="news.imageLink"
          [createdOn]="(news.createdOn | date)"
          [source]="news.source">
        </app-card-news>
      </div>
    </div>
  </div>
</div>

