<p class="text-danger">{{errMsg}}</p>
<div [hidden]="editResearch">
  <template #dataTable></template>
  <div>
    <button type="button" class="btn btn-color btn-md btn-add" (click)="addNewResearch()">
      <span class="fa fa-plus"></span> Add</button>
  </div>
</div>
<div [hidden]="!editResearch">
  <!--{{createResearch.value | json}}-->
  <form [formGroup]="createResearch">
    <div class="form-group">
      <label><span class="text-danger">*</span>Research Title:</label>
      <input type="text" [class.is-invalid]="title.invalid && title.touched"
             class="form-control" placeholder="Enter a research title" formControlName="title" />
      <small class="text-danger" [class.d-none]="title.valid || title.untouched">
        Research title is required.
      </small>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-2">
          <label style="padding-top: 5px;">Research Type:</label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="Enter a research type" formControlName="type" />
          <!--<select class="form-control" [class.is-invalid]="type.invalid && type.touched"-->
                  <!--formControlName="type">-->
            <!--<option value="" disabled>Select One</option>-->
            <!--<option *ngFor="let type of researchTypeList">{{type}}</option>-->
          <!--</select>-->
          <!--<small class="text-danger" [class.d-none]="type.valid || type.untouched">-->
            <!--Research type is required.-->
          <!--</small>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><span class="text-danger">*</span>Researcher(s):</label>
      <div formArrayName="ownerID" *ngFor="let owner of ownerID.controls; let i=index">
        <div class="form-row">
          <div [className]="selectLength">
            <select class="form-control" [class.is-invalid]="ownerID.invalid && ownerID.touched"
                    [formControlName]="i">
              <option value="" disabled>Select One</option>
              <option *ngFor="let person of personList" [value]="person._id">{{person.name}}</option>
            </select>
          </div>
          <div class="col-md-1" [hidden]="ownerID.length <= 1">
            <button type="button" class="btn btn-color" (click)="deleteResearcher(i)">
              Delete
            </button>
          </div>
        </div>
        </div>
      <button type="button" class="btn btn-default btn-md" (click)="addResearcher('')"
      [disabled]="ownerID.length >= 5">
        <span class="fa fa-plus"></span> Add </button>
      <small class="text-danger" [class.d-none]="ownerID.valid || ownerID.untouched" style="padding-left: 5px;">
        At least one researcher is required. Delete any empty field(s).
      </small>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label>Start Date:</label>
          <input type="date" class="form-control" placeholder="Enter a start date" formControlName="startDate" />
          <!--<small class="text-danger" [class.d-none]="startDate.valid || startDate.untouched">-->
            <!--Start date is required.-->
          <!--</small>-->
        </div>
        <div class="col">
          <label>End Date:</label>
          <!--<input type="date" [class.is-invalid]="endDate.invalid && endDate.touched" id="endDate"-->
                 <!--class="form-control" placeholder="Enter a end date" formControlName="endDate"/>-->
          <input type="date" id="endDate" class="form-control" placeholder="Enter a end date"
                 formControlName="endDate"/>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="ongoingCheck" formControlName="ongoing"
            (click)="ongoingDate()">
            <label class="form-check-label" for="ongoingCheck">In Progress</label>
          </div>
        <!--<small class="text-danger" [class.d-none]="ongoing.value == true || endDate.untouched || ongoing.untouched">-->
          <!--End date is required.-->
        <!--</small>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Summary: (300 characters max)</label>
      <textarea class="form-control" rows="5" placeholder="Enter research summary" formControlName="summary" maxlength="300">
      </textarea>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <app-editor [disabled]="createResearch.invalid" (htmlString)="saveResearch($event)"
                  [htmlContent]="description.value"></app-editor>
      <!--<textarea class="form-control" rows="5" placeholder="Enter research description"-->
                <!--formControlName="description"></textarea>-->
    </div>
    <!--<button class="btn btn-color" style="float: right;" [disabled]="createResearch.invalid">Save</button>-->
  </form>
  <p class="text-danger">* Required fields</p>
</div>

