
<div class="main-container">
  <footer class="section footer-classic context-dark bg-image" style="background: black;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4" style="margin-top: 3%;">
            <p>
              The Department of Computer Science and Engineering at University of Colorado Denver is committed to
              providing outstanding education and research training for productive careers in industry, academia and government.
            </p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year" style="color: white;">{{currentYear}}</span><span>
               </span><img src="../../assets/images/cu_logo_blackBG.jpg" style="width: 5%; height: 5%;">
              <span> The Regents of the University of Colorado</span><span>. </span>
              <br/><span>All Rights Reserved.</span>
            </p>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd style="color: white;">71201 Larimer Street <br/>
              Denver, Colorado </dd>
          </dl>
          <dl class="contact-list">
            <dt>Phone:</dt>
            <dd><a href="tel:303-315-1408">303-315-1408</a>
              <!--<span>or</span> <a href="tel:#">303-315-5969</a>-->
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3" style="margin-top: 20px;">
          <h5>Links</h5>
          <ul class="nav-list">
            <li><a routerLink="/about" (click)="scrollTop()">About</a></li>
            <li><a routerLink="/contact" (click)="scrollTop()">Contact</a></li>
            <li><a routerLink="/login" (click)="scrollTop()">Login</a></li>
            <li><a routerLink="/register" (click)="scrollTop()">Sign Up</a></li><br><br>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
