.list-size{
  min-height: 300px;
  max-height: 300px;
  overflow-x: hidden;
}
li:hover {
  background-color: rgba(207,184,124,0.7);
}
li:active, .active {
  background-color: #CFB87C;
}
table {
  width: 100%;
}
.table-header {
  font-size: 15px;
  background-color: #565A5C;
  color: white;
}
.table-btn {
  float: right;
  margin: 1px 0 0 0;
  background-color: transparent;
}

