.menu-label {
  background-color: transparent;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  border-color: black;
}
.list-group-item-action {
  text-align: center;
  border-radius: 5px;
  margin: 5px 0 5px 0;
}
.list-group-item-action:active, .active {
  background-color: #CFB87C;
  border-color: #CFB87C;
  color: black;
}

