<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group" role="tablist">
        <ul class="list-group list-group-flush">
          <li class="list-group-item menu-label"><strong>MENU</strong></li>
        </ul>
        <button type="button" class="list-group-item list-group-item-action active" data-toggle="list"
                (click)="editComp(parents[0].name)">
          {{parents[0].name}}
        </button>
        <button type="button" class="list-group-item list-group-item-action"
                data-toggle="list" *ngFor="let p of parents | slice: 1"
                (click)="editComp(p.name)">
          {{p.name}}
        </button>
      </div>
    </div>
    <div class="col-md-10">
      <template #editComponent></template>
    </div>
  </div>
</div>
